:host {
  background: #368c81;
  color: white;
  display: flex;
  flex-direction: row;
  flex: auto;
}

:host nav h2 {
  font-family: Helvetica;
  text-transform: uppercase;
}

:host img {
  width: 50px;
  height: 50px;
  margin: auto 10px;
}

:host nav {
  display: flex;
  flex-grow: .8;
  justify-content: space-around;
}
